* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /*ek number writing hai*/
}


.details {
    margin-left: 35vw;
    margin-top: 10vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 50vh;
    height: 55vh; 
    border: 3px solid rgba(0, 179, 255, 0.519);
    padding: 20px; 
    border-radius: 10px; 
    background-color: #f9f9f9; /*jo bhi color hai mst hai*/
}

.details-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; 
    color: #333; 
}

.details input {
    width: 100%; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease; 
}

.details input:focus {
    border-color: #007BFF; /* Highlight krega jaise hi input milega*/
}

.details input::placeholder {
    color: #999; /* Lighter placeholder text */
}